In [1]:
%load_ext autoreload
%autoreload 2
import sys, os
from os.path import expanduser
## actions required!!!!!!!!!!!!!!!!!!!! change your folder path 
path = "~/Documents/G3/MA-prediction"
path = expanduser(path)
sys.path.append(path)

In [2]:
from MA_prediction.crsp import *

In [3]:
# plotting
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
mpl.style.use("seaborn-v0_8")
plt.rcParams['figure.figsize'] = [9, 9]
plt.rcParams['axes.titlesize'] = 20
plt.rcParams['axes.labelsize'] = 20
plt.rcParams['xtick.labelsize'] = 15
plt.rcParams['ytick.labelsize'] = 15
plt.rcParams['legend.fontsize'] = 18
plt.rcParams['font.size'] = 30

In [4]:
import wrds
db = wrds.Connection()

Enter your WRDS username [yizhan]: olivershu
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
Loading library list...
Done

# find names / identifiers
## `get_stocknames_CRSP`

In [7]:
get_stocknames_CRSP('23115', 'cusip', db=db)

,permno,permco,ticker,comnam,namedt,nameenddt,cusip,ncusip
0,85969.0,16063.0,CGII,CUNNINGHAM GRAPHICS INTL INC,1998-04-22,2000-06-16,23115710,23115710

In [8]:
get_stocknames_CRSP('AMZN', 'ticker', db=db)

,permno,permco,ticker,comnam,namedt,nameenddt,cusip,ncusip
0,84788.0,15473.0,AMZN,AMAZON COM INC,1997-05-15,2022-12-30,02313510,02313510

In [9]:
get_stocknames_CRSP(84788., 'permno', db=db)

,permno,permco,ticker,comnam,namedt,nameenddt,cusip,ncusip
0,84788.0,15473.0,AMZN,AMAZON COM INC,1997-05-15,2022-12-30,02313510,02313510

In [10]:
get_stocknames_CRSP('023135', 'cusip', db=db)

,permno,permco,ticker,comnam,namedt,nameenddt,cusip,ncusip
0,84788.0,15473.0,AMZN,AMAZON COM INC,1997-05-15,2022-12-30,02313510,02313510

In [11]:
get_stocknames_CRSP('A', 'ticker', date = '2022-12-01', db=db)

,permno,permco,ticker,comnam,namedt,nameenddt,cusip,ncusip
0,87432.0,36364.0,A,AGILENT TECHNOLOGIES INC,2021-04-01,2022-12-30,00846U10,00846U10

## `get_fundnames_CRSP`

In [19]:
get_fundnames_CRSP('SPY', 'ticker', db=db)

,crsp_fundno,ticker,fund_name,et_flag,index_fund_flag,m_fund,first_offer_dt
0,27635.0,SPY,"SPDR Trust, Series 1",F,D,N,1993-01-22
1,27635.0,SPY,"SPDR Trust, Series 1",F,D,N,1993-01-22
2,27635.0,SPY,"SPDR Trust, Series 1",F,D,N,1993-01-22
3,27635.0,SPY,"SPDR Trust, Series 1",F,D,N,1993-01-22
4,27635.0,SPY,SPDR S&P 500 ETF Trust,F,D,N,1993-01-22
5,27635.0,SPY,SPDR S&P 500 ETF Trust,F,D,N,1993-01-22
6,27635.0,SPY,SPDR S&P 500 ETF Trust,F,D,N,1993-01-22
7,27635.0,SPY,SPDR S&P 500 ETF Trust,F,D,N,1993-01-22
8,27635.0,SPY,SPDR S&P 500 ETF Trust,F,D,N,1993-01-22

## `get_stock_permno_CRSP`

In [20]:
get_stock_permno_CRSP('R', 'ticker', date='2022-01-01', return_names=True, db=db)

permno              27633.0
ticker                    R
cusip              78354910
comnam    RYDER SYSTEMS INC
dtype: object

In [21]:
get_stock_permno_CRSP('R', 'ticker', return_names=True, db=db)

permno    Multiple permnos
ticker                 NaN
cusip                  NaN
comnam                 NaN
dtype: object

In [22]:
get_stock_permno_CRSP('R', 'ticker', return_names=False, db=db)

'Multiple permnos'

In [23]:
get_stock_permno_CRSP('AMZN', 'ticker', return_names=True, db=db)

permno           84788.0
ticker              AMZN
cusip           02313510
comnam    AMAZON COM INC
dtype: object

## `get_fund_crsp_fundno_CRSP`

In [25]:
get_fund_crsp_fundno_CRSP('SPY', return_names=True, db=db)

crsp_fundno                       27635.0
ticker                                SPY
fund_name          SPDR S&P 500 ETF Trust
et_flag                                 F
index_fund_flag                         D
m_fund                                  N
first_offer_dt                 1993-01-22
dtype: object

In [28]:
get_fund_crsp_fundno_CRSP('ARIFX', return_names=True, db=db)

crsp_fundno                                                  19469.0
ticker                                                         ARIFX
fund_name          Wilmington Funds: Wilmington Intermediate-Term...
et_flag                                                         None
index_fund_flag                                                 None
m_fund                                                             N
first_offer_dt                                            1996-11-18
dtype: object

## `get_stock_permno_by_ticker_and_cusip_CRSP`

In [29]:
get_stock_permno_by_ticker_and_cusip_CRSP('AMZN', np.nan, return_names=True, db=db)

permno           84788.0
ticker              AMZN
cusip           02313510
comnam    AMAZON COM INC
dtype: object

In [30]:
get_stock_permno_by_ticker_and_cusip_CRSP('A', np.nan, return_names=True, db=db)

permno    NaN
ticker    NaN
cusip     NaN
comnam    NaN
dtype: object

In [31]:
get_stock_permno_by_ticker_and_cusip_CRSP('A', np.nan, date='2022-01-01', return_names=True, db=db)

permno                     87432.0
ticker                           A
cusip                     00846U10
comnam    AGILENT TECHNOLOGIES INC
dtype: object

In [32]:
get_stock_permno_by_ticker_and_cusip_CRSP('AMZZN', '023135', return_names=True, db=db)

permno           84788.0
ticker              AMZN
cusip           02313510
comnam    AMAZON COM INC
dtype: object

In [49]:
get_stock_permno_by_ticker_and_cusip_CRSP('AMZZN', '023139', return_names=True, db=db)

permno    NaN
ticker    NaN
cusip     NaN
comnam    NaN
dtype: object

In [50]:
get_stocknames_CRSP('02313', 'cusip', db=db)

,permno,permco,ticker,comnam,namedt,nameenddt,cusip,ncusip
0,13919.0,29052.0,AMBC,AMBAC FINANCIAL GROUP INC,2013-05-01,2020-02-02,02313988,02313988
1,13919.0,29052.0,AMBC,AMBAC FINANCIAL GROUP INC,2020-02-03,2021-01-26,02313988,02313988
2,13919.0,29052.0,AMBC,AMBAC FINANCIAL GROUP INC,2021-01-27,2022-12-30,02313988,02313988
3,76757.0,29052.0,ABK,AMBAC INC,1991-07-11,1997-07-13,02313910,02313910
4,76757.0,29052.0,ABK,AMBAC FINANCIAL GROUP INC,1997-07-14,1998-08-31,02313910,02313910
5,76757.0,29052.0,ABK,AMBAC FINANCIAL GROUP INC,1998-09-01,2006-06-29,02313910,02313910
6,76757.0,29052.0,ABK,AMBAC FINANCIAL GROUP INC,2006-06-30,2010-11-08,02313910,02313910
7,84788.0,15473.0,AMZN,AMAZON COM INC,1997-05-15,2022-12-30,02313510,02313510

In [51]:
get_stock_permno_by_ticker_and_cusip_CRSP('A', np.nan, return_names=False, db=db)

nan

# Market Data
## `get_total_mkt_return_daily_CRSP`

In [48]:
get_total_mkt_return_daily_CRSP(db=db)

date
1926-01-02    0.005689
1926-01-04    0.000706
1926-01-05   -0.004821
1926-01-06   -0.000423
1926-01-07    0.004988
                ...
2022-12-23    0.005466
2022-12-27   -0.003928
2022-12-28   -0.012366
2022-12-29    0.018337
2022-12-30   -0.002453
Name: vwretd, Length: 25548, dtype: float64

In [49]:
get_total_mkt_return_daily_CRSP(start_date='2022-01-01', end_date='2022-12-31', db=db)

date
2022-01-03    0.006154
2022-01-04   -0.002351
2022-01-05   -0.021879
2022-01-06    0.000161
2022-01-07   -0.004164
                ...
2022-12-23    0.005466
2022-12-27   -0.003928
2022-12-28   -0.012366
2022-12-29    0.018337
2022-12-30   -0.002453
Name: vwretd, Length: 251, dtype: float64

In [78]:
get_total_mkt_return_weekly_CRSP(start_date='2022-01-01', end_date='2022-12-31', db=db)

date
2022-01-01/2022-01-07   -0.022104
2022-01-08/2022-01-14   -0.003525
2022-01-15/2022-01-21   -0.058359
2022-01-22/2022-01-28    0.002171
2022-01-29/2022-02-04    0.019221
2022-02-05/2022-02-11   -0.010781
2022-02-12/2022-02-18   -0.016029
2022-02-19/2022-02-25    0.008331
2022-02-26/2022-03-04   -0.016090
2022-03-05/2022-03-11   -0.025723
2022-03-12/2022-03-18    0.061315
2022-03-19/2022-03-25    0.014226
2022-03-26/2022-04-01    0.002858
2022-04-02/2022-04-08   -0.018521
2022-04-09/2022-04-15   -0.015582
2022-04-16/2022-04-22   -0.030087
2022-04-23/2022-04-29   -0.032985
2022-04-30/2022-05-06   -0.006720
2022-05-07/2022-05-13   -0.023721
2022-05-14/2022-05-20   -0.024565
2022-05-21/2022-05-27    0.062379
2022-05-28/2022-06-03   -0.009346
2022-06-04/2022-06-10   -0.049024
2022-06-11/2022-06-17   -0.059155
2022-06-18/2022-06-24    0.060295
2022-06-25/2022-07-01   -0.021505
2022-07-02/2022-07-08    0.018819
2022-07-09/2022-07-15   -0.011893
2022-07-16/2022-07-22    0.028494
2022-07-23/2022-07-29    0.041602
2022-07-30/2022-08-05    0.006619
2022-08-06/2022-08-12    0.034265
2022-08-13/2022-08-19   -0.016433
2022-08-20/2022-08-26   -0.034922
2022-08-27/2022-09-02   -0.034340
2022-09-03/2022-09-09    0.037766
2022-09-10/2022-09-16   -0.045506
2022-09-17/2022-09-23   -0.050870
2022-09-24/2022-09-30   -0.024119
2022-10-01/2022-10-07    0.016804
2022-10-08/2022-10-14   -0.018244
2022-10-15/2022-10-21    0.044225
2022-10-22/2022-10-28    0.039892
2022-10-29/2022-11-04   -0.028944
2022-11-05/2022-11-11    0.057876
2022-11-12/2022-11-18   -0.009095
2022-11-19/2022-11-25    0.014974
2022-11-26/2022-12-02    0.012196
2022-12-03/2022-12-09   -0.035247
2022-12-10/2022-12-16   -0.019847
2022-12-17/2022-12-23   -0.001894
2022-12-24/2022-12-30   -0.000664
Freq: W-FRI, Name: vwretd, dtype: float64

In [86]:
get_total_mkt_return_monthly_CRSP(db=db)

month
1926-01    0.000561
1926-02   -0.033046
1926-03   -0.064002
1926-04    0.037029
1926-05    0.012095
             ...
2022-08   -0.036240
2022-09   -0.091324
2022-10    0.077403
2022-11    0.052365
2022-12   -0.057116
Freq: M, Name: vwretd, Length: 1164, dtype: float64

## `get_fund_daily_return_CRSP`

In [62]:
get_fund_daily_return_CRSP('SPY', 'ticker', db=db)

date
1998-09-01    0.038522
1998-09-02   -0.003609
1998-09-03   -0.008250
1998-09-04   -0.008420
1998-09-08    0.050747
                ...
2022-09-26   -0.010334
2022-09-27   -0.002053
2022-09-28    0.019721
2022-09-29   -0.020978
2022-09-30   -0.015018
Name: dret, Length: 6061, dtype: float64

In [63]:
get_fund_monthly_return_CRSP('SPY', 'ticker', db=db)

month
1993-01         NaN
1993-02    0.013446
1993-03    0.021005
1993-04   -0.024342
1993-05    0.026310
             ...
2022-05    0.001713
2022-06   -0.082241
2022-07    0.092054
2022-08   -0.040741
2022-09   -0.095805
Freq: M, Name: mret, Length: 357, dtype: float64