In [1]:
%load_ext autoreload
%autoreload 2
import sys, os
from os.path import expanduser
## actions required!!!!!!!!!!!!!!!!!!!! change your folder path 
path = "~/Documents/G3/MA-prediction"
path = expanduser(path)
sys.path.append(path)

import pandas as pd
import numpy as np

pd.options.mode.chained_assignment = None
import warnings
warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
from MA_prediction.utils import *
from MA_prediction.preprocessing import *
from MA_prediction.crsp import *
from MA_prediction.mkt_calendar import *

In [3]:
import wrds
db = wrds.Connection()

Enter your WRDS username [yizhan]: olivershu
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
Loading library list...
Done

# Data Cleaning 2:  CRSP - delisting information and market data

In this notebook we look for delisting information and market data from CRSP. 


- Look for delisting information (delisting code, last trade date, delisting date and delisting returns) in CRSP database, for all the targets.
- pull raw market data for all the targets and acquirors, from 40 (trading) days prior to `dao`, to 40 days after `dr`.


## I/O

- Input: 
    - `data/intermediate/df_basic_cleaning.h5`

- Output:
    - `data/intermediate/permno/apermno.h5`, `data/intermediate/permno/tpermno.h5`.
    - `data/intermediate/df_permno_delist_CRSP.h5`
    - `data/raw/market_data_tgt_raw.pickle`, `data/raw/market_data_acq_raw.pickle`

## Load data

In [4]:
# read hdf file
filepath = f"{path}/data/intermediate/df_basic_cleaning.h5"
df = pd.read_hdf(filepath)

print_shape(df)
df.tail()

The dataset is of size (10445, 95).

,statc,one_day,aone_day,dao,da,dateannorig_days,de,dateeffexp,dw,dr,...,pricebook,eqvalcf,eqvalsales,eqval,tlia,cass,clia,lockup,dae,vest
master_deal_no,,,,,,,,,,,,,,,,,,,,,
3992461020,P,2022-10-24,2022-12-16,2022-10-25,2022-12-19,54,NaN,2023-12-31,NaN,NaN,...,8.659,16.011,2.087,4547.200,1748.5,1001.7,802.9,No,No,No
4015877020,P,2022-12-16,2022-12-16,2022-12-19,2022-12-19,0,NaN,2023-02-28,NaN,NaN,...,4.839,NaN,0.752,16.141,18.3,14.2,16.4,No,No,No
4016515020,P,2022-12-19,2022-12-19,2022-12-20,2022-12-20,0,NaN,2023-06-30,NaN,NaN,...,NaN,NaN,NaN,52.581,NaN,NaN,NaN,No,No,No
4017224020,P,2022-12-20,2022-12-20,2022-12-21,2022-12-21,0,NaN,2023-03-31,NaN,NaN,...,0.750,NaN,2.912,55.152,61.3,97.6,11.2,No,No,No
4019588020,P,2022-12-23,2022-12-23,2022-12-27,2022-12-27,0,NaN,NaT,NaN,NaN,...,NaN,NaN,0.895,25.412,52.4,34.1,36.4,No,No,No

In [5]:
#
path_p = f"{path}/data/intermediate/permno" 
tpermno, apermno = pd.read_hdf(f"{path_p}/tpermno.h5"), pd.read_hdf(f"{path_p}/apermno.h5")

In [6]:
# merge permno information with df
loc_names = ['atic', 'atic', 'acu', 'an']
insert_cols(df, loc_names, None, apermno)

loc_names = ['ttic', 'ttic', 'tcu', 'tn'] 
insert_cols(df, loc_names, None, tpermno)

# Get target delisting information

In [7]:
# columns = ['delist_code', 'last_trade_date', 'delist_date', 'delist_amount', 'delist_return']
delist_CRSP = apply_func_to_ser_df(df.tpermno, get_delisting_information, return_as_df=True, db=db)
complete = df.statc.eq('C')
print(f"{(complete & delist_CRSP.delist_return.isnull()).sum()} out of {complete.sum()} completed deals cannot find delisting returns.")

100%|███████████████████████████████████████| 9612/9612 [04:21<00:00, 36.71it/s]

657 out of 8096 completed deals cannot find delisting returns.

In [8]:
## Save intermediate results
pathfile = f"{path}/data/intermediate/delist_CRSP.h5"
delist_CRSP.to_hdf(pathfile, key = 'delist_CRSP', mode='w')
# concat into the dataset
loc_names = ['att'] * 5
insert_cols(df, loc_names, None, delist_CRSP)

In [17]:
# replace resolution date with delist date for cretain deals
ind = df.statc.eq('C') & df.delist_code.between(200, 300, inclusive="left") & df.delist_return.notna() 
df.dr.loc[ind] = df.delist_date.loc[ind]

In [18]:
# save
filepath = f"{path}/data/intermediate/df_permno_delist_CRSP.h5"
df.to_hdf(filepath, key = 'df', mode='w')

# pull raw market data

In [19]:
df['dao_40days_prior'] = get_trading_day_offset(df.dao, -40)
last_date = max(df.da.max(), df.dr.dropna().max())
df['dr_40days_after'] = get_trading_day_offset(df.dr.fillna(last_date), 40)

In [20]:
def get_stock_market_data_daily_from_ser_CRSP(ser, db=db):
    """
    get daily market data from a series of (permno, start_date, end_date)
    """
    return get_stock_market_data_daily_CRSP(ser.iloc[0], start_date=ser.iloc[1], end_date=ser.iloc[2], db=db)

In [21]:
mkt_data_tgt = apply_func_to_ser_df(df[['tpermno', 'dao_40days_prior', 'dr_40days_after']], 
                                    get_stock_market_data_daily_from_ser_CRSP, 
                                    return_as_df=False, 
                                    db=db)
print(f"{mkt_data_tgt.isna().sum()} out of {len(df)} deals cannot find target market data.")

100%|█████████████████████████████████████| 10445/10445 [10:08<00:00, 17.15it/s]

833 out of 10445 deals cannot find target market data.

In [22]:
mkt_data_acq = apply_func_to_ser_df(df[['apermno', 'dao_40days_prior', 'dr_40days_after']],
                                       get_stock_market_data_daily_from_ser_CRSP,
                                       return_as_df=False,
                                       db=db)
print(f"{mkt_data_acq.isna().sum()} out of {len(df)} deals cannot find acquiror market data.")

100%|█████████████████████████████████████| 10445/10445 [05:27<00:00, 31.89it/s]

4991 out of 10445 deals cannot find acquiror market data.

## save raw market data

In [23]:
import pickle

filepath_tgt = f"{path}/data/raw/mkt_data_tgt_raw.pickle"
with open(filepath_tgt, 'wb') as handle:
    pickle.dump(mkt_data_tgt, handle, protocol=pickle.HIGHEST_PROTOCOL)
    
    
filepath_acq = f"{path}/data/raw/mkt_data_acq_raw.pickle"
with open(filepath_acq, 'wb') as handle:
    pickle.dump(mkt_data_acq, handle, protocol=pickle.HIGHEST_PROTOCOL)