In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:92% !important; }</style>"))

%load_ext autoreload
%autoreload 2
import sys, os
from os.path import expanduser
## actions required!!!!!!!!!!!!!!!!!!!! change your folder path 
path = "~/Documents/G3/MA-prediction"
path = expanduser(path)
sys.path.append(path)

import data_science_MA_kit as dsk
import pandas as pd
import numpy as np
import datetime
from tqdm import tqdm
import re
import wrds

pd.options.mode.chained_assignment = None
import warnings
warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)

# Data preprocessing 6: Variable transformation for classifiers

In this notebook we conduct several variable transformation useful for the prediction model.






For prediction. (4557)
- create new `dao`, `pr1day`, `mv_ratio`
- Change attitude/apub names.
- `psought`
- Premium and spread.
- Delete losers in a competition. Set time span.

To be done in later notebooks:

- Change attitude/apub names.
- Delete wrong amendment information
- drop missing `pr_initial`

- delete competing deals (hard).
- delete too recent deals.



## I/O

- Input:
    - `df_variable_transform.h5`
    - `market_data_tgt_corrected.pickle`
    - `market_data_acq_corrected.pickle`

- Output:
    - `df_final.h5`
    
    
## load data

In [2]:
filepath = f"{path}/data/df_variable_transform.h5"
df = pd.read_hdf(filepath)

# market data of tgts and acqs
import pickle
filepath_tgt = f"{path}/data/market_data_tgt_corrected.pickle"
with open(filepath_tgt, 'rb') as handle:
    market_data_tgt_corrected = pickle.load(handle)
filepath_acq = f"{path}/data/market_data_acq_corrected.pickle"
with open(filepath_acq, 'rb') as handle:
    market_data_acq_corrected = pickle.load(handle)

# Unaffected price, prices, premium, spread, and implied probability

## unaffected price

In [3]:
def extract_several_prices_from_market_data(mkt_data_df, one_day, da):
    """
    From market data, compute 20 days trailing average at 1 day, 1 week and 4 weeks before original announcement, and the price after 5 days of announcement
    """
    index = ['tpr1day_before_dao_20ave', 'tpr1wk_before_dao_20ave', 'tpr4wk_before_dao_20ave', 'tpr4days_after_da']
    if not isinstance(mkt_data_df, pd.DataFrame) or da not in mkt_data_df.index or one_day not in mkt_data_df.index:
        return pd.Series(np.nan, index=index)
    i, j = np.searchsorted(mkt_data_df.index, [one_day, da])
    prc_ser = mkt_data_df.prc_adj_ann
    
    # 
    prc_lst = []
    prc_lst.append(prc_ser.iloc[i-19:i].mean() if i >= 19 else np.nan)
    prc_lst.append(prc_ser.iloc[i-24:i-5].mean() if i >= 24 else np.nan)
    prc_lst.append(prc_ser.iloc[i-39:i-20].mean() if i >= 39 else np.nan)
    prc_lst.append(prc_ser.iloc[j+4] if j+4 < len(prc_ser) else np.nan)

    return pd.Series(prc_lst, index=index)

def extract_several_prices_from_market_data_ser(ser):
    """
    ser contains (mkt_data_df, one_day, da)
    """
    return extract_several_prices_from_market_data(ser.iloc[0], ser.iloc[1], ser.iloc[2])

In [4]:
mkt_data_one_day_da = pd.concat([market_data_tgt_corrected, df.one_day_corrected, df.da_corrected], axis=1)
prices_tgt = dsk.apply_func_to_ser_df(mkt_data_one_day_da, extract_several_prices_from_market_data_ser, return_as_df=True)
prices_tgt.head()

100%|███████████████████████████████████| 12031/12031 [00:03<00:00, 3906.46it/s]

,tpr1day_before_dao_20ave,tpr1wk_before_dao_20ave,tpr4wk_before_dao_20ave,tpr4days_after_da
master_deal_no,,,,
95088020,NaN,NaN,NaN,NaN
154109043,84.427632,77.519737,72.743421,117.50
154130043,11.460526,11.144737,11.671053,16.75
154182043,9.309211,9.296053,8.710526,10.50
154200043,23.289474,23.335526,23.598684,30.75

In [5]:
dsk.insert_cols(df, ['pr1day']*prices_tgt.shape[1], prices_tgt.columns, prices_tgt)

## premium

In [6]:
# premium
names = ['1day', '1wk', '4wk']
for name in names:
    premium = df.pr_initial.sub(df[f'tpr{name}_before_dao_20ave']).div(df[f'tpr{name}_before_dao_20ave'])
    premium = round(100 * premium, 2)
    df[f'ppm{name}_initial'] = premium
df[[f'ppm{name}_initial' for name in names]].dropna().head()#.corr()

                ppm1day_initial  ppm1wk_initial  ppm4wk_initial
master_deal_no
154109043                 51.61           65.12           75.96
154130043                 57.06           61.51           54.23
154200043                 58.87           58.56           56.79
154227043                  8.13            8.30           13.96
154242043                 51.64           55.15           55.38

## deal price

In [7]:
def extract_price_single_date_from_mkt_data(mkt_data_df, date):
    """
    extract the price at a certain date from a market data dataframe.
    """
    if isinstance(mkt_data_df, pd.DataFrame) and date in mkt_data_df.index:
        return mkt_data_df.prc_adj_ann[date]
    else:
        return np.nan
    
def extract_price_single_date_from_mkt_data_ser(ser): 
    """
    mkt_data_df, date
    """
    return extract_price_single_date_from_mkt_data(ser.iloc[0], ser.iloc[1])

In [8]:
df.aone_day = dsk.get_trading_day_offset(df.da_corrected, -1)
df['da_4days_after'] = dsk.get_trading_day_offset(df.da_corrected, 4)

In [9]:
df['apr1day_before_da'] = dsk.apply_func_to_ser_df(pd.concat([market_data_acq_corrected, df.aone_day], axis=1), extract_price_single_date_from_mkt_data_ser)
df['apr4days_after_da'] = dsk.apply_func_to_ser_df(pd.concat([market_data_acq_corrected, df.da_4days_after], axis=1), extract_price_single_date_from_mkt_data_ser)

100%|██████████████████████████████████| 12031/12031 [00:00<00:00, 19086.25it/s]
100%|██████████████████████████████████| 12031/12031 [00:00<00:00, 43309.98it/s]

In [10]:
def calculate_deal_price(cash_term, stock_term, stock, acq_prc):
    """
    calculate the deal price from terms
    """
    if stock:
        return cash_term + stock_term * acq_prc
    return cash_term + stock_term

def calculate_deal_price_ser(ser):
    return calculate_deal_price(*ser)

df['pr_4days_after_da'] = dsk.apply_func_to_ser_df(df[['cash_term', 'stock_term', 'stock', 'apr4days_after_da']], calculate_deal_price_ser)

100%|██████████████████████████████████| 12031/12031 [00:00<00:00, 45463.67it/s]

## arbitrage spread

In [11]:
# spread
df['spread'] = df.pr_4days_after_da.sub(df.tpr4days_after_da).div(df.tpr4days_after_da)
df.spread = round(100*df.spread, 2)
df.spread.dropna().head()

master_deal_no
96354020     33.33
112263020    10.34
164182020    -5.21
95025020     13.16
164180020     5.03
Name: spread, dtype: float64

## implied probability

In [12]:
# implied prob
for name in names:
    diff_pr_pre_ann_pr = df.pr_4days_after_da.sub(df[f'tpr{name}_before_dao_20ave'])
    index = abs(diff_pr_pre_ann_pr).lt(.1)
    diff_pr_pre_ann_pr[index] = .1 * np.sign(diff_pr_pre_ann_pr[index])
    
    
#     if abs(diff_pr_pre_ann_pr) < .1:
#         diff_pr_pre_ann_pr = .1 * np.sign(diff_pr_pre_ann_pr)
    
    implied_prob = df.tpr4days_after_da.sub(df[f'tpr{name}_before_dao_20ave']).div(diff_pr_pre_ann_pr)
    implied_prob = round(100*implied_prob, 2)
    df[f'implied_prob_{name}'] = implied_prob
df[[f'implied_prob_{name}' for name in names]].dropna().head()

                implied_prob_1day  implied_prob_1wk  implied_prob_4wk
master_deal_no
96354020                   -40.26            -48.82            -66.56
112263020                   68.61             69.94             72.22
164182020                  133.36            131.31            133.10
95025020                    30.28             32.02             46.10
164180020                   84.24             84.69             84.30

## `mv_ratio`

In [13]:
df.insert(df.columns.get_loc('amv'), 'mv_ratio', df['amv']/df['mv'])

## `phda, psought` missing

In [14]:
df.phda = df.phda.fillna(0.)

In [15]:
index_psought_na = df.index[df.psought.isna()]
df.psought[index_psought_na] = 100. - df.phda[index_psought_na]

## change attitude names

In [16]:
dict_initial_rec = {'Hostile':'Unsolic. or Hostile', 'Unsolic.': 'Unsolic. or Hostile', 'Solicited': 'Agreed', 'Not Appl.':'Neutral'}
df['initial_rec2'] = df.initial_rec.replace(dict_initial_rec)
df.initial_rec2.value_counts()

Agreed                 9560
Unsolic. or Hostile    1348
Neutral                 939
Name: initial_rec2, dtype: int64

In [17]:
dict_att = {'Neutral': 'Friendly', 'Not Appl.':'Friendly', 'Unsolic.': 'Unfriendly', 'Hostile':'Unfriendly'}
df['att2'] = df.att.replace(dict_att)
df.att2.value_counts()

Friendly      10808
Unfriendly     1223
Name: att2, dtype: int64

## `apub`

In [18]:
dict_apub = {'Inv.': 'Priv.', 'J.V.': 'Sub.', 'Mutual':'Sub.', 'Govt.':'Sub.'}
df['apub2'] = df.apub.replace(dict_apub)
df.apub2.value_counts()

Public    7690
Priv.     2839
Sub.      1502
Name: apub2, dtype: int64

## financials

In [19]:
df['curr_ratio'] = df['clia'] / df['cass']
df['leverage'] = df['tlia'] / df['eqval']

## Create market variables

In [20]:
import wrds
db = wrds.Connection()

Enter your WRDS username [yizhan]:olivershu
Enter your password:········
WRDS recommends setting up a .pgpass file.
Create .pgpass file now [y/n]?: y
Created .pgpass file successfully.
Loading library list...
Done

In [21]:
market_returns = db.raw_sql("""select caldt, vwretd from crsp_m_indexes.msix""")
market_returns = dsk.to_monthly_period_index(market_returns, 'caldt')
market_returns = market_returns.rolling(12).sum().shift()

In [22]:
ann_yr_month_period = df.da_corrected.map(lambda x: pd.Period(f"{x.year}-{x.month}", 'M'))

In [23]:
df['mkt_ret_prev_yr'] = market_returns.loc[list(ann_yr_month_period)].values

## Industries

In [24]:
df.ttf_macro_desc = df.ttf_macro_desc.str.replace(' ', '_')
df.atf_macro_desc = df.atf_macro_desc.str.replace(' ', '_')

In [25]:
industries = pd.get_dummies(df.ttf_macro_desc)
industries.columns = list(map(lambda x: 'industry_' + x, industries.columns))

In [26]:
# hist_fail_rate = pd.DataFrame(np.nan, columns=['fail_rate'],
#                               index=pd.period_range('1993-01', '2020-12', freq='M'))
# df_c = df[~df['compete_statc_code'].isin([2, 3, 4])].copy()
# df_c['statc'].replace({'P':1, 'W':1, 'C':0}, inplace=True)
# for i in hist_fail_rate.index:
#     sub = np.logical_and(df['ann_yr_mon']>=i-24, df['ann_yr_mon']<i)
#     hist_fail_rate.loc[i] = df_c.loc[sub, 'statc'].mean()
# hist_fail_rate

In [27]:
# hist_industry_fail_rate = pd.DataFrame(np.nan, columns=df['ttf_macro_desc'].unique(),
#                               index=pd.period_range('1993-01', '2020-12', freq='M'))
# for i in hist_industry_fail_rate.index:
#     for industry in hist_industry_fail_rate.columns:
#         sub = np.logical_and(df['ann_yr_mon']>=i-24, df['ann_yr_mon']<i)
#         sub = np.logical_and(sub, df['ttf_macro_desc']==industry)
#         if sub.sum() == 0:
#             hist_industry_fail_rate.loc[i, industry] = 0#hist_fail_rate.loc[i].values[0]
#         else:
#             hist_industry_fail_rate.loc[i, industry] = df_c.loc[sub, 'statc'].mean()
# hist_industry_fail_rate

In [28]:
# df.loc[index, 'fail_rate_2y'] = round(hist_fail_rate.loc[df.loc[index, 'ann_yr_mon']]*100, 2).squeeze().values

In [29]:
# for i in index:
#     df.loc[i, 'fail_rate_ind_2y'] = \
#     round(hist_industry_fail_rate.loc[df.loc[i, 'ann_yr_mon'], df.loc[i, 'ttf_macro_desc']]*100, 2)

# #df.loc[index, 'fail_rate_ind_2y'] = round(hist_fail_rate.loc[df.loc[index, 'ann_yr_mon']]*100, 2).squeeze().values

# Save

In [30]:
filepath = f"{path}/data/df_variable_prediction.h5"
df.to_hdf(filepath, key='df', mode='w')